@import "../utils/variables";
@import "../utils/mixins";
.header-one {
  font-size: $subTitle-fontSize;
  border-bottom: $border-color;
  width: 100%;
  &__left {
    width: 50%;
    display: flex;
    align-items: center;

    color: $text-dark;

    &__mail {
      font-size: 16px;
      color: $text-dark;
      float: left;
      border-right: $border-color;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 20px;
    }
    &__tel {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
    }
  }
  &__right {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: $text-dark;
    float: left;
    justify-content: end;
    color: $text-dark;
    a {
      color: $text-dark;
    }

    &__icons {
      @include text-center;
      gap: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 20px;
    }

    &__lan-selector {
      border-right: $border-color;
      border-left: $border-color;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__login-panel {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      display: flex;
      gap: 10px;
    }
  }
}

.header-two {
  width: 100%;
  padding: 40px 0;

  .row {
    @include text-center($jcc: space-between);
  }

  &__logo {
    @include text-center($jcc: start);

    border: none;
  
    padding-top: 11px;
    padding-bottom: 13px;
    padding-right: 60px;
    font-size: 16px;
    color: #252525;
  }

  &__middle {
    &__search {
      
      @include text-center($jcc: start);

      border: $border-color;
      a {
        float: left;
        background: transparent;

        padding-left: 23px;
        padding-top: 11px;
        padding-bottom: 13px;
        padding-right: 60px;
        font-size: 16px;
        color: #252525;
      }
      input {
        width: 400px;

        height: 100%;
        border: none;
        border-left: $border-color;
        padding-left: 10px;
        outline: none;
      }

      i {
        padding: 13px;
        height: 100%;
        background-color: $primary-color;
        color: white;
      }
    }
  }
  
  &__right__icons{
      padding: 10px 0;
      span{
        font-size: 18px;
    font-weight: 700;
    color: #252525;
      }
  }

}